<div id="footer">
 <table style="border: 0;">
     <tr>
         <td><img src='public/rent305-icon.png' alt='Rent305 Net' height='36pt'/></td>
         <td style="vertical-align: middle;">Copyright &copy;2020 <br/> <a href='mailto:info@rent305.net?subject=6515 SW 48th St'>info@rent305.net</a></td>
     </tr>
 </table>
 {{> links}}
</div>