<div id="header">
  <h1><a href="{{relative gallery.home.url}}"><img src="public/rent305-icon.png" alt="Rent305 Net" height="36pt"/> {{gallery.title}}</a></h1>
  <div id="links">
    <a href='index.html'>Properties</a> | 
    <a href='tips.html'>Tenant Tips</a>
  </div>
</div>