<div id="links">
    <a href='/index.html'>Home</a> | 
    <a href='/public/nearby.html'>Nearby Restaurants</a> | 
    <a href='/public/tips.html'>Tenant Tips</a>
</div>
<!-- 
    <p>Apply Online: <a href='https://www.zillow.com/homedetails/44207880_zpid/' target='_blank'><img src='public/zillow.png' alt='Zillow' height='18'></img></a> |
    <a href='https://www.apartments.com/6515-sw-48th-st-miami-fl/mpn18jl/' target='_blank'><img src='public/apartments.png' alt='Apartments.com' height='18'></img></a></p>
-->